<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./lib/vue.js"></script>

</head>
<body>
  <div id="app">
    <input type="text" v-model='firstname'>+
    <input type="text" v-model='lastname'>=
    <input type="text" v-model='fullname'>
  </div>
  <script>
    var vm = new Vue({
      el : '#app',
      data:{
        firstname:'',
        lastname:'',
      },
      // computed 中存放都是计算属性，计算属性本质上是方法，使用的时候直接当作属性来用，
      // 注意1，不要加（）
      // 注意2，data 中的用到的数据发生变化了，就会立即重新计算
      // 注意3，计算属性的值，会被缓存起来
      computed: {
        'fullname': function(){
          return this.firstname + this.lastname
        }
      },
      
    })
  </script>
</body>
</html>